* {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(249, 241, 239);
  padding-bottom: 2%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color:rgb(76, 76, 78);
  background-color: rgb(213, 198, 198);
  padding: 1%;
  border-radius: 10px;
}

.login-cred {
  padding: 5%;
}

.login-cred form {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-cred form label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-button, #addNew-button {
  padding: 1%;
  border-radius: 10px;
  background-color: rgb(249, 241, 239);
}

h1 {
  padding: 3%;
}

h2 {
  text-align: center;
  padding: 1%;
  opacity: 0.5;
}

nav a {
  padding: 1%;
  margin: 2%;
}

.friends-header {
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}

.friends-header h2 {
  margin-bottom: 2%;
}

.friends-list {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap; 
  align-content:space-between;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

.friend-container {
  width: 25%;
  background-color: rgb(249, 241, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border: 3px dashed rgb(76, 76, 78);
  padding: 1%;
}

.add-friend {
  padding: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.add-friend label {
  display: flex;
  flex-direction: column;
  align-items: center;
}